.menu {
	height: 35px;
	position: relative;
	border-radius: 2px;

}
.menu ul {
	list-style-type: none;
}
.menu ul li a {
	float: left;
	padding: 5px;
	border: 1px solid #9932CC;
	border-radius: 2px;
}

.menu a {
	text-decoration: none;
}
.menu ul ul {
	display: none;
	position: absolute;
	top: 30px;
	left: 158px;
}
.menu ul li a {
	display:block; 
	padding-left:20px; 
	width:130px;
     }
.menu ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:150px;
     }
     .menu ul li:hover ul {
	display:block;
     }
